<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_headers %>
  </head>
  <body>
    <h2>URLS</h2>
    <ul>
      <% for (url in urls) { %>
        <%= url %> &rArr; <a href= <%= urls[url].longURL  %>><%= urls[url].longURL  %></a>
        <form action="/urls/<%= url %>" method="get">
          <input type="submit" value="edit">
        </form>
        <form method="POST" action=<%= "/urls/" + url + "/delete"%>>
          <input type="submit" value= &#9940;>
        </form>
      <% } %>
    </ul>
  </body>
  <body>
    <h2>Create a New Short Link</h2>
    <form action= "/urls/new" method="get">
      <input type="submit" value="NEW URL">
    </form>
  </body>
</html>
